<form action="" method="post">
    <h2>Date Personale</h2>
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password" minlength="8" required>
    <input type="password" name="password2" placeholder="Password Again" minlength="8" required>
    <input type="text" name="firstname" placeholder="First Name">
    <input type="text" name="lastname" placeholder="Last Name">
    <input type="text" name="phone" placeholder="Phone">
    <hr>
    <h2>Date referitoare la statutul de membru ASII</h2>
    <input type="text" name="profilePhoto" placeholder="Profile Photo Link">
    <br>
    <input type="radio" id="membru_activ" name="role" value="membru_activ">Membru Activ<br>
    <input type="radio" id="membru_inactiv" name="role" value="membru_inactiv">Membru Inactiv<br>
    <input type="text" name="departament" placeholder="Departament">
    <button type="submit">Register</button>
</form>
