<form action="" method="post">
    <h2>Date Personale</h2>
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password" minlength="8" required>
    <input type="password" name="password2" placeholder="Password Again" minlength="8" required>
    <input type="text" name="firstname" placeholder="First Name">
    <input type="text" name="lastname" placeholder="Last Name">
    <input type="text" name="phone" placeholder="Phone">
    <button type="submit">Register</button>
</form>
