@media screen and (max-width: 420px){
    /* phone */
    .container{
        width: 250px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        height: 350px;
    }
    .left-side, .right-side, .down-side{
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .logo-login{
        width: 80px;
    }
    .logo-register{
        width: 30px;
    }
}