@media screen and (min-width: 420px){
/* laptop */
body{
    padding: 0px;
}
.main-display{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.container{
    display: flex;
    flex-direction: column;
    width: 700px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    font-family: "Comic Sans MS", cursive, sans-serif;
}
}