@media screen and (min-width: 420px){
    /* laptop */
    .container{
        width: 250px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 200px;
    }
    .left-side{
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 20px;
        margin-right: 20px;
    }
    .right-side{
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 20px;
        margin-right: 20px;
    }
    .down-side{
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .logo-login{
        width: 160px;
    }
    .logo-register{
        width: 50px;
    }
}